@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/bundles/overview")

<div class="jumbotron">
    <h1>Welcome to the Los Angeles route 704 application!</h1>
    <p class="lead"></p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Select a departure stop</h2>
		<input id="departureInput"/>
	</div>
	<div class="col-md-4">
		<h2>Select an arrival stop </h2>
		<input id="arrivalInput"/>
	</div>
	<div class="col-md-4">
		<button id="submitButton" onclick="submitStops()">Submit</button>
	</div>
</div>
